*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color-scheme: light dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    background: #FFF;
    /* color: var(--tg-theme-text-color, #000);
    background: var(--tg-theme-secondary-bg-color, #FFF); */
}

html,
body,
body>main {
    height: var(--tg-viewport-height, 100vh);
    min-height: var(--tg-viewport-height, 100vh);
    margin: 0vh;
    padding: 0vh;
}

body {
    text-align: center;
}

body>main {
    min-height: -webkit-fill-available;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.app,
.outer {
    height: 100%;
}

.loading .outer {
    visibility: hidden;
}

.newyear {
    background: linear-gradient(200.97deg, rgba(95, 196, 79, 0.8) 35.94%, rgba(92, 147, 252, 0.8) 100%);
}

.fortune {
    background: linear-gradient(201deg, rgba(255, 120, 105, 0.80) 0%, rgba(255, 226, 94, 0.80) 100%);
}

.peace {
    background: linear-gradient(201deg, rgba(135, 255, 137, 0.80) 0%, rgba(238, 133, 244, 0.80) 100%);
}

.love {
    background: linear-gradient(201deg, rgba(252, 238, 77, 0.80) 0%, rgba(107, 139, 246, 0.80) 100%);
}

.prestige {
    background: linear-gradient(201deg, #0194EF 0%, #011063 36.98%, #5E89FD 65.1%, #11063C 100%);
    color: white;
}

.outer {
    width: 23.75rem;
}

.outer,
.wrapper {
    position: relative;
}

.outer {
    margin: 0 auto;
    padding: 1.75rem 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 0.5rem;
    height: 100%;
}

.wrapper>* {
    grid-column-start: 1;
}

.wrapper * {
    user-select: none;
}