<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		<% preact.title %>
	</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="api_host" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.api_host %>">
	<meta name="debug" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.debug %>">
	<meta name="launch_params" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.launch_params %>">
	<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
	<script src="https://telegram.org/js/telegram-web-app.js"></script>
	<% preact.headEnd %>
</head>

<body>
	<% preact.bodyEnd %>
</body>

</html>